#body {
    height: 665px;
    padding-left: 255px;
    padding-right: 255px;
}
#title-top {
    color: #ffffff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 37px;
    padding-right: 30px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    background: rgba(221, 182, 83, 0.8);
    border-radius: 10px;
    width: 190px;
}

#idx-circle {
    width: 30px;
    height: 30px;
    margin-left: 115px;
    margin-bottom: 7px;
}

#content-row {
    margin-top: 30px;
}

#bookmark-item{
    background: transparent; 
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorStr=#ffffffff, endColorStr=#ffffffff ); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorStr=#ffffffff, endColorStr=#ffffffff )"; 
    box-shadow: 5px 5px 3px #000000;
    zoom: 1;
    border-radius: 10px;
    width: 440px;
    height: 510px;
}

#item-col {
    margin-right: 120px;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    background:transparent;
    border: transparent;
}

#arrow-img{
    width: 25px;
    height: 25px;
}

#thumbnail {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#t-text {
    font-size: 19px;
    text-align: center;
    /* margin-left: 10px; */
}

#c-text {
    font-size: 19px;
    text-align: left;
}
#delete-button {
    background:transparent;
    border: transparent;
    margin-left: 115px;
    margin-top: 5px;
}
#delete-img{
    width: 27px;
    height: 27px;
}

#btn-cover{
    margin-top: 20px;
    text-align: center;
}

#show-title{
    font-size: 25px;
    padding-top: 10px;
}