#content{
    height: 665px;
    padding-top: 50px;
}

#btn-select {
    background: transparent; 
    background-color: rgba( 255, 255, 255, 0.3); 
    border: none;
    width: 545px;
    height: 540px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}
#btn-today{
    background: transparent; 
    background-color: rgba( 255, 255, 255, 0.3); 
    border: none;
    width: 545px;
    height: 260px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}

#btn-book {
    margin-top: 20px;
    background: transparent; 
    /* background-color: rgba(0, 0, 0, 0.6);  */
    background-color: rgba( 255, 255, 255, 0.3); 
    border: none;
    width: 545px;
    height: 260px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}
#btn-select-click {
    background: transparent; 
    background-color: rgba(0, 0, 0, 0.6);
    border : 5px solid rgb(221, 182, 83);
    width: 545px;
    height: 540px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}
#btn-today-click {
    background: transparent; 
    background-color: rgba(0, 0, 0, 0.6);
    border : 5px solid rgb(221, 182, 83);
    width: 545px;
    height: 260px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}

#btn-book-click {
    margin-top: 20px;
    background: transparent; 
    background-color: rgba(0, 0, 0, 0.6);
    border : 5px solid rgb(221, 182, 83);
    width: 545px;
    height: 260px;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 50px 0px 0px 0px ;
}

#btn-select:focus, #btn-today:focus, #btn-book:focus {
    background-color: rgba(0, 0, 0, 0.6);
    border : 5px solid rgb(221, 182, 83);
}

#text-title-top {
    font-size: 25px;
    margin-bottom: 30px;
}

#text-select {
    font-size: 50px;
    color : rgb(221, 182, 83);
    position: relative;
    text-align: right;
    padding-right: 20px;
}
#text-info-top{
    font-size: 20px;
    position: relative;
    text-align: right; 
    padding-right: 20px;
}

#text-info-bottom {
    font-size: 20px;
    position: relative;
    text-align: right;
    padding-right: 20px;
}

#text-today, #text-book {
    font-size: 50px;
    position: relative;
    text-align: right; 
    padding-right: 20px;
    /* padding-bottom: 50px; */
    color : rgb(221, 182, 83);
}

#text-info {
    font-size: 20px;
    position: relative;
    text-align: right; 
    padding-right: 20px;
}

#num-circle-right {
    width: 40px;
    height: 40px;
    margin-right: 450px;
    margin-bottom: 60px;
}

#num-circle-left {
    width: 40px;
    height: 40px;
    margin-right: 450px;
    margin-bottom: 290px;
}