#footer{
    padding-top: 50px;
    padding-bottom: 68px;
    /* width: ; */
}

#home-text {
    margin-left: 80px;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}

#end-text {
    margin-right: 80px;
    text-align: right;
    color: #ffffff;
    font-size: 20px;
}

